
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style>
    .header-gradient {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 90px; /* Wysokość gradientu */
        background: linear-gradient(to bottom right, #0077cc, #004466); /* Gradient diagonalny w odcieniach niebieskiego */
    }
</style>

<div class="header-gradient"></div>