<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoRent</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRentalHub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-daterangepicker@3.1.0/daterangepicker.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    @* <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> *@

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>




    <!-- W sekcji head -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.21.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <style>
        /* body {
                font-family: 'Nunito Sans', sans-serif;
            } */

        body {
            padding-top: 56px;
            margin: 0;
        }

        .navbar {
            background-color: transparent;
            border: none;
            box-shadow: none;
            transition: background-color 0.3s ease-in-out;
            border-bottom: none !important;
            height: 90px; /* Dodaj wysokość */
        }

            .navbar.navbar-solid {
                background-color: white;
            }

            .navbar a.nav-link:hover {
                color: white !important;
            }

        .navbar-brand img {
            max-height: 100%;
            position: relative;
            top: 0;
            left: 0;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }

        .navbar.navbar-solid .navbar-brand img.logo {
            opacity: 0;
        }

        .navbar.navbar-solid .navbar-brand img.logo-inv {
            opacity: 1;
        }

        .navbar-brand img.logo-inv {
            opacity: 0;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom  fixed-top navbar-transparent navbar-hover">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="FilterData" asp-action="Index">
                    <img id="logoImage" src="~/Logo/Logoinv.png" alt="Logo" class="logo" style="max-height: 100%; max-width: 230px;" />
                    @* <img src="~/Logo/Logoinv.png" alt="Logo Inv" class="logo-inv" style="max-height: 100%; max-width: 180px;" /> *@
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="width: 10vw; padding: 0; height: auto;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 text-center">
                        <li class="nav-item">
                            <a class="nav-link btn btn-link text-white border-0 nav-link-padding" asp-area="" asp-controller="Cars" asp-action="Index" style="background-color: lightseagreen;">
                                Pełna lista samochodów
                            </a>
                        </li>
                        <!-- Dodaj inne elementy menu według potrzeb -->
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 70px;">
        @* Margines strony od góry 70 *@
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container" style="margin-bottom: 70px;">
        @* Margines strony od dołu *@
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AutoRent - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script>
        $(document).ready(function () {
            var navbar = $(".navbar");
            var navbarBrandImg = $(".navbar-brand img.logo");
            var logoInvSrc = "/Logo/Logoinv.png";


            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    
                    navbar.addClass("navbar-solid");
                    navbarBrandImg.css("opacity", 0);
                    navbarBrandImg.attr("src", "/Logo/Logo.png");
                    navbarBrandImg.css("opacity", 1);
                    navbar.css("height", "70px");
                    
                } else {
                    navbar.animate({ height: "90px" }, 200);
                    navbar.removeClass("navbar-solid");
                    navbarBrandImg.css("opacity", 1);
                    navbarBrandImg.attr("src", "/Logo/Logoinv.png");
                    
                }
            });

            navbar.hover(
                function () {
                    if (!navbar.hasClass("navbar-solid")) {
                        navbar.addClass("navbar-solid");
                        navbarBrandImg.css("opacity", 0);
                        navbarBrandImg.attr("src", "/Logo/Logo.png");
                        navbarBrandImg.css("opacity", 1);
                    }
                },
                function () {
                    if ($(window).scrollTop() <= 50) {
                        navbar.removeClass("navbar-solid");
                        navbarBrandImg.css("opacity", 1);
                        navbarBrandImg.attr("src", "/Logo/Logoinv.png");
                    }
                }
            );
        });
    </script>



</body>
</html>
