@using Microsoft.AspNetCore.Identity
@using CarRentalHub.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <style>

    </style>

</head>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @* <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li> *@
        
        <li id="myReservationsNavItem">
            <a class="nav-link rounded nav-link-reservation" asp-area="" asp-controller="Cars" asp-action="MyReservations">
                <i class="fas fa-list"></i> Moje rezerwacje
            </a>
        </li>


    <li>
            <a class="nav-link text-light rounded" asp-area="" asp-controller="Cars" asp-action="Create" style="background: linear-gradient(to bottom, #3498db, #2980b9);">
                <i class="fas fa-plus"></i> Dodaj ogłoszenie
            </a>
    </li>

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0" style="margin-left: 10px; margin-right: 10px; background-color: indianred;">
                Logout
            </button>
        </form>
    </li>

}
else
{
    
        // Get the current URL
    var currentPage = Context.Request.Path;

        // Check that the page is not located at /Identity/Account/Login
    var isNotLoginPage = !currentPage.Equals("/Identity/Account/Login", StringComparison.OrdinalIgnoreCase);
    var isNotRegisterPage = !currentPage.Equals("/Identity/Account/Register", StringComparison.OrdinalIgnoreCase);
    

    @if (isNotLoginPage && isNotRegisterPage)
    {
            <!-- HTML code to be executed only if the page is not at /Identity/Account/Login -->
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a>
        </li>
        <li class="nav-item">
                <a class="nav-link text-light rounded" id="register" asp-area="Identity" asp-page="/Account/Register" style="background: linear-gradient(to bottom, #5340FF, #4334CF);">Sign up</a>
        </li>
        
    }
}


</ul>
